# VS Code
.vscode/
frontend/.vscode/

# Python
**/__pycache__/
*.pyc

# Environment
**/.env

# Logs
*.log
server.log

# SQLite
*.db
backend/instance/

# macOS
.DS_Store

# Temporary files
frontend/iongit credential-manager version